.return-btn{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 25px;
}
.form-return{
    padding: 30px 70px;
}

.accordion-block{
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    padding: 15px;
}
.accordion-btn{
    border: none;
    background: transparent;
    cursor: pointer;
}
.accordion-title{
    font-size: 34px;
    margin: auto;
    text-align: center;
    align-items: center;
}
.active{
    display: block;
}
.picture-block-1 img{
    width: 450px;
    height: 250px ;
    border-radius: 5px;

}


@media (min-width:992px) and (max-width:1240px){
    .picture-block-1 img{
        width: 300px;
        height: 150px ;
    
    }
    .accordion-title{
        font-size: 30px;
       
    }
}

@media (min-width:768px) and (max-width:991px){
    .accordion-title{
        font-size: 26px;
       
    }
    .accordion-btn img{
        width: 70px;
        height: 70px;
    }
}

@media (min-width:576px) and (max-width:767px){
    .accordion-title{
        font-size: 24px;
       
    }
    .picture-block-1 img{
        width: 150px;
        height: 80px ;
    
    }
    .accordion-btn img{
        width: 50px;
        height: 50px;
    }
}

@media (min-width:320px) and (max-width:576px){
    .picture-block-1 img{
        width: 100px;
        height: 60px ;
        margin-top: 15px;
    
    }
    .accordion-title{
        font-size: 14px;
       
    }
    .accordion-btn img{
        width: 30px;
        height: 30px;
    }
}